In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
df = pd.read_csv(os.path.join("Resources", "humidity.csv")).dropna()
df.head()

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
1,2012-10-01 13:00:00,76.0,81.0,88.0,81.0,88.0,82.0,22.0,23.0,50.0,...,71.0,58.0,93.0,68.0,50.0,63.0,22.0,51.0,51.0,50.0
2,2012-10-01 14:00:00,76.0,80.0,87.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,91.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
3,2012-10-01 15:00:00,76.0,80.0,86.0,80.0,88.0,81.0,21.0,23.0,49.0,...,70.0,57.0,87.0,68.0,51.0,62.0,22.0,51.0,51.0,50.0
4,2012-10-01 16:00:00,77.0,80.0,85.0,79.0,88.0,81.0,21.0,23.0,49.0,...,69.0,57.0,84.0,68.0,52.0,62.0,22.0,51.0,51.0,50.0
5,2012-10-01 17:00:00,78.0,79.0,84.0,79.0,88.0,80.0,21.0,24.0,49.0,...,69.0,57.0,80.0,68.0,54.0,62.0,23.0,51.0,51.0,50.0

In [3]:
data = df.drop(["datetime", "Beersheba", "Tel Aviv District", "Eilat", "Haifa", "Nahariyya", "Jerusalem", "Vancouver", "Montreal", "Toronto"], axis=1)
feature_names = data.columns
data.head()

,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,San Antonio,...,Indianapolis,Atlanta,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Philadelphia,New York,Boston
1,81.0,88.0,81.0,88.0,82.0,22.0,23.0,50.0,62.0,93.0,...,76.0,94.0,76.0,88.0,87.0,83.0,93.0,71.0,58.0,68.0
2,80.0,87.0,80.0,88.0,81.0,21.0,23.0,49.0,62.0,92.0,...,76.0,94.0,75.0,87.0,87.0,82.0,93.0,70.0,57.0,68.0
3,80.0,86.0,80.0,88.0,81.0,21.0,23.0,49.0,62.0,92.0,...,76.0,94.0,75.0,87.0,87.0,82.0,93.0,70.0,57.0,68.0
4,80.0,85.0,79.0,88.0,81.0,21.0,23.0,49.0,62.0,92.0,...,76.0,94.0,74.0,87.0,87.0,82.0,93.0,69.0,57.0,68.0
5,79.0,84.0,79.0,88.0,80.0,21.0,24.0,49.0,63.0,92.0,...,76.0,94.0,74.0,86.0,87.0,81.0,93.0,69.0,57.0,68.0

In [4]:
data.columns

Index(['Portland', 'San Francisco', 'Seattle', 'Los Angeles', 'San Diego',
       'Las Vegas', 'Phoenix', 'Albuquerque', 'Denver', 'San Antonio',
       'Dallas', 'Houston', 'Kansas City', 'Minneapolis', 'Saint Louis',
       'Chicago', 'Nashville', 'Indianapolis', 'Atlanta', 'Detroit',
       'Jacksonville', 'Charlotte', 'Miami', 'Pittsburgh', 'Philadelphia',
       'New York', 'Boston'],
      dtype='object')

In [5]:
prediction_column = data["Philadelphia"].shift(-1, axis=0)
data["Philadelphia_Predict"]=prediction_column
data = data.dropna()
data.tail()

,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,Denver,San Antonio,...,Atlanta,Detroit,Jacksonville,Charlotte,Miami,Pittsburgh,Philadelphia,New York,Boston,Philadelphia_Predict
44455,48.0,34.0,81.0,24.0,56.0,17.0,74.0,37.0,38.0,32.0,...,60.0,58.0,38.0,40.0,54.0,32.0,39.0,33.0,38.0,39.0
44456,40.0,28.0,67.0,20.0,60.0,16.0,89.0,34.0,41.0,31.0,...,44.0,66.0,38.0,37.0,54.0,32.0,39.0,36.0,41.0,45.0
44457,35.0,25.0,59.0,37.0,64.0,15.0,84.0,32.0,35.0,29.0,...,60.0,66.0,43.0,40.0,54.0,30.0,45.0,38.0,47.0,48.0
44458,33.0,22.0,55.0,18.0,60.0,14.0,89.0,32.0,33.0,27.0,...,60.0,76.0,46.0,46.0,61.0,34.0,48.0,54.0,71.0,58.0
44459,35.0,20.0,52.0,34.0,44.0,12.0,84.0,30.0,30.0,23.0,...,68.0,87.0,56.0,59.0,54.0,39.0,58.0,62.0,87.0,62.0

In [6]:
y = data["Philadelphia_Predict"].values.reshape(-1,1)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[['Portland', 'San Francisco', 'Seattle', 'Los Angeles', 'San Diego',
       'Las Vegas', 'Phoenix', 'Albuquerque', 'Denver', 'San Antonio',
       'Dallas', 'Houston', 'Kansas City', 'Minneapolis', 'Saint Louis',
       'Chicago', 'Nashville', 'Indianapolis', 'Atlanta', 'Detroit',
       'Jacksonville', 'Charlotte', 'Miami', 'Pittsburgh', 'Philadelphia',
       'New York', 'Boston']], y, random_state=42)


from sklearn.preprocessing import StandardScaler 
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_scaler = StandardScaler().fit(y_train)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [8]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.13390690491947937

In [9]:
y = data["Philadelphia_Predict"].values.reshape(-1,1)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[['Portland', 'San Francisco', 'Seattle', 'Los Angeles', 'San Diego',
       'Las Vegas', 'Phoenix', 'Albuquerque', 'Denver', 'San Antonio',
       'Dallas', 'Houston', 'Kansas City', 'Minneapolis', 'Saint Louis',
       'Chicago', 'Nashville', 'Indianapolis', 'Atlanta', 'Detroit',
       'Jacksonville', 'Charlotte', 'Miami', 'Pittsburgh', 'Philadelphia',
       'New York', 'Boston']], y, random_state=42)


from sklearn.preprocessing import StandardScaler 
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_scaler = StandardScaler().fit(y_train)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [11]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train.ravel())
rf.score(X_test, y_test)

0.20494153981910435

In [12]:
rf.predict(X_test[0:10])

array([ 93.,  87., 100.,  64.,  40.,  56.,  42.,  44.,  62.,  39.])

In [13]:
y_test[0:10]

array([[ 87.],
       [ 92.],
       [100.],
       [ 62.],
       [ 40.],
       [ 39.],
       [ 44.],
       [ 41.],
       [ 62.],
       [ 39.]])

In [15]:
from joblib import dump, load
>>> dump(rf, 'Humidity_Trees.joblib')

['Humidity_Trees.joblib']