In [9]:
import pandas as pd
import datetime
import numpy as np

In [10]:
df = pd.read_csv("csvs/Albuquerque_df.csv")
df["City"] = "Albuquerque"
df2 = pd.read_csv("csvs/Atlanta_df.csv")
df2["City"] = "Atlanta"
df3 = pd.read_csv("csvs/Boston_df.csv")
df3["City"] = "Boston"
df4 = pd.read_csv("csvs/Charlotte_df.csv")
df4["City"] = "Charlotte"
df5 = pd.read_csv("csvs/Chicago_df.csv")
df5["City"] = "Chicago"
df6 = pd.read_csv("csvs/Dallas_df.csv")
df6["City"] = "Dallas"
df7 = pd.read_csv("csvs/Denver_df.csv")
df7["City"] = "Denver"
df8 = pd.read_csv("csvs/Detroit_df.csv")
df8["City"] = "Detroit"
df9 = pd.read_csv("csvs/Houston_df.csv")
df9["City"] = "Houston"
df10 = pd.read_csv("csvs/Indianapolis_df.csv")
df10["City"] = "Indianapolis"
df11 = pd.read_csv("csvs/Jacksonville_df.csv")
df11["City"] = "Jacksonville"
df12 = pd.read_csv("csvs/KansasCity_df.csv")
df12["City"] = "Kansas City"
df13 = pd.read_csv("csvs/LasVegas_df.csv")
df13["City"] = "Las Vegas"
df14 = pd.read_csv("csvs/LosAngeles_df.csv")
df14["City"] = "Los Angeles"
df15 = pd.read_csv("csvs/Miami_df.csv")
df15["City"] = "Miami"
df16 = pd.read_csv("csvs/Nashville_df.csv")
df16["City"] = "Nashville"
df17 = pd.read_csv("csvs/NewYork_df.csv")
df17["City"] = "New York"
df18 = pd.read_csv("csvs/Philadelphia_df.csv")
df18["City"] = "Philadelphia"
df19 = pd.read_csv("csvs/Phoenix_df.csv")
df19["City"] = "Phoenix"
df20 = pd.read_csv("csvs/Pittsburgh_df.csv")
df20["City"] = "Pittsburgh"
df21 = pd.read_csv("csvs/Portland_df.csv")
df21["City"] = "Portland"
df22 = pd.read_csv("csvs/SaintLouis_df.csv")
df22["City"] = "Saint Louis"
df23 = pd.read_csv("csvs/SanAntonio_df.csv")
df23["City"] = "San Antonio"
df24 = pd.read_csv("csvs/SanDiego_df.csv")
df24["City"] = "San Diego"
df25 = pd.read_csv("csvs/SanFrancisco_df.csv")
df25["City"] = "San Francisco"
df26 = pd.read_csv("csvs/Seattle_df.csv")
df26["City"] = "Seattle"

In [11]:
df = df.append(df2, ignore_index=True)
df = df.append(df3, ignore_index=True)
df = df.append(df4, ignore_index=True)
df = df.append(df5, ignore_index=True)
df = df.append(df6, ignore_index=True)
df = df.append(df7, ignore_index=True)
df = df.append(df8, ignore_index=True)
df = df.append(df9, ignore_index=True)
df = df.append(df10, ignore_index=True)
df = df.append(df11, ignore_index=True)
df = df.append(df12, ignore_index=True)
df = df.append(df13, ignore_index=True)
df = df.append(df14, ignore_index=True)
df = df.append(df15, ignore_index=True)
df = df.append(df16, ignore_index=True)
df = df.append(df17, ignore_index=True)
df = df.append(df18, ignore_index=True)
df = df.append(df19, ignore_index=True)
df = df.append(df20, ignore_index=True)
df = df.append(df21, ignore_index=True)
df = df.append(df22, ignore_index=True)
df = df.append(df23, ignore_index=True)
df = df.append(df24, ignore_index=True)
df = df.append(df25, ignore_index=True)
df = df.append(df26, ignore_index=True)

cities_df = pd.read_csv("city_attributes.csv")

In [12]:
df = df.merge(cities_df, how="left", on="City")
df.head()

,Unnamed: 0,Date and Time,Temperature,Humidity,Wind_Speed,Wind_Direction,Pressure,Weather_Description,Year,Month,...,Year Humidity Max,Year Humidity Min,Year Humidity Average,Month Humidity Max,Month Humidity Min,Month Humidity Average,City,Country,Latitude,Longitude
0,1,2012-10-01 13:00:00,285.120000,50.0,4.0,360.0,1024.0,sky is clear,2012,10,...,100.0,5.0,36.160968,100.0,5.0,46.493551,Albuquerque,United States,35.084492,-106.651138
1,2,2012-10-01 14:00:00,285.154558,49.0,4.0,360.0,1024.0,sky is clear,2012,10,...,100.0,5.0,36.160968,100.0,5.0,46.493551,Albuquerque,United States,35.084492,-106.651138
2,3,2012-10-01 15:00:00,285.233952,49.0,4.0,360.0,1024.0,sky is clear,2012,10,...,100.0,5.0,36.160968,100.0,5.0,46.493551,Albuquerque,United States,35.084492,-106.651138
3,4,2012-10-01 16:00:00,285.313345,49.0,4.0,360.0,1024.0,sky is clear,2012,10,...,100.0,5.0,36.160968,100.0,5.0,46.493551,Albuquerque,United States,35.084492,-106.651138
4,5,2012-10-01 17:00:00,285.392738,49.0,4.0,360.0,1024.0,sky is clear,2012,10,...,100.0,5.0,36.160968,100.0,5.0,46.493551,Albuquerque,United States,35.084492,-106.651138

In [13]:
date_time = []
for x in range(0,len(df)):
    date = datetime.datetime.strptime(df["Date and Time"][x], "%Y-%m-%d %H:%M:%S")
    date_time.append(date)
df["Timestamp"] = date_time
df["Timestamp"] = df["Timestamp"].map(datetime.datetime.timestamp)

In [21]:
day = 24*60*60
year = (365.2422)*day

timestamp = df["Timestamp"]

df["Day sin"] = np.sin(timestamp * (2*np.pi/day))
df["Day cos"] = np.cos(timestamp * (2*np.pi/day))
df["Year sin"] = np.sin(timestamp * (2*np.pi/year))
df["Year cos"] = np.cos(timestamp * (2*np.pi/year))

In [22]:
df = df.loc[:,['Date and Time', 'Timestamp', 'Temperature', 'Humidity', 'Wind_Speed',
        'Wind_Direction', 'Pressure', 'Weather_Description', 'Year',
        'Day sin', 'Day cos', 'Year sin', 'Year cos',
        'City', 'Latitude', 'Longitude']]
df = df.sort_values(by=["Timestamp", "City"])
df.head()

,Date and Time,Timestamp,Temperature,Humidity,Wind_Speed,Wind_Direction,Pressure,Weather_Description,Year,Day sin,Day cos,Year sin,Year cos,City,Latitude,Longitude
0,2012-10-01 13:00:00,1.349114e+09,285.12,50.0,4.0,360.0,1024.0,sky is clear,2012,-1.0,-3.741022e-12,-0.999938,0.011112,Albuquerque,35.084492,-106.651138
44505,2012-10-01 13:00:00,1.349114e+09,294.03,94.0,3.0,110.0,1006.0,light rain,2012,-1.0,-3.741022e-12,-0.999938,0.011112,Atlanta,33.749001,-84.387978
89320,2012-10-01 13:00:00,1.349114e+09,287.17,68.0,3.0,60.0,1014.0,sky is clear,2012,-1.0,-3.741022e-12,-0.999938,0.011112,Boston,42.358429,-71.059769
134119,2012-10-01 13:00:00,1.349114e+09,288.65,87.0,4.0,70.0,1012.0,mist,2012,-1.0,-3.741022e-12,-0.999938,0.011112,Charlotte,35.227089,-80.843132
178780,2012-10-01 13:00:00,1.349114e+09,284.01,71.0,0.0,0.0,1014.0,overcast clouds,2012,-1.0,-3.741022e-12,-0.999938,0.011112,Chicago,41.850029,-87.650047

In [23]:
df.to_csv("classifier_dataset.csv", index=False)

In [ ]:
df_length = df.shape[0]
df_length
weather_classifier = []
for i in np.arange(0, df_length):
    if df.loc[i,"Weather_Description"] == "heavy intensity rain":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "smoke":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "shower rain":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "heavy snow":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "sleet":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "thunderstorm with light rain":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "thunderstorm":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "squalls":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "thunderstorm with heavy rain":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "thunderstorm with rain":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "proximity thunderstorm":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "very heavy rain":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "snow":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "shower snow":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "proximity thunderstorm with rain":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "freezing rain":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "light rain and snow":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "thunderstorm with heavy drizzle":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "tornado":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "heavy shower snow":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "light shower sleet":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "heavy intensity shower rain":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "volcanic ash":
        weather_classifier.append(1)
    elif df.loc[i,"Weather_Description"] == "heavy thunderstorm":
        weather_classifier.append(1)
    else:
        weather_classifier.append(0)
        
df["Severe_Weather"] = weather_classifier
df.head()

In [ ]:
df.to_csv("binary_classifier_dataset.csv", index=False)